.stepper {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    overflow: hidden;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--color-text-secondary);
    transition: all var(--transition);
}

.btn:hover:not(:disabled) {
    background: var(--color-bg-subtle);
    color: var(--color-text);
}

.btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.input {
    width: 40px;
    height: 32px;
    text-align: center;
    font-size: var(--font-size-body);
    font-weight: 500;
    border: none;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    background: var(--color-bg);
    color: var(--color-text);
}

.input:focus {
    outline: none;
}

/* Hide spinners */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number] {
    -moz-appearance: textfield;
}