.divider {
    border: none;
    height: 1px;
    background: var(--color-border);
}

.spacing-8 {
    margin: var(--space-8) 0;
}

.spacing-12 {
    margin: var(--space-12) 0;
}

.spacing-16 {
    margin: var(--space-16) 0;
}

.spacing-24 {
    margin: var(--space-24) 0;
}

.spacing-32 {
    margin: var(--space-32) 0;
}